
body {
    margin: 0;
    text-align: center;
    font-family: 'Montaga', serif;
    background-color: #bfcba8;
}

p {
    color: #464f41;
    font-family: 'Montaga', serif;
    font-size: 1rem;
    font-weight: normal;
}

li {
    text-align: left;
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
    color: #464f41;
}

h2, h3, h4, h5, h6 {
   font-family: 'Montaga', serif;
   text-align: center;
}

h2{
    font-size: 1.75rem;
}

.big-heading{
    font-size: 5.625rem;
    margin: auto auto 0 auto;
    color: #464f41;
    font-family: 'Permanent Marker', cursive;
}


/* DIVS */

div {
    background-color: #bfcba8;
    padding: 0;
}

.top-container {
    background-color: #bfcba8;
    padding-top: 25px;
    position: relative;
}

.middle-container {
    background-color: #eeeeee;
}
.education-container{
    background-color: #eeeeee;
}

.experience-container{
    background-color: #eeeeee;
}

.bottom-container {
    background-color: #bfcba8;
}

.profile-pic{
    padding: 0 0 2rem 0;
}

.skill-row{
    width: 50%;
    margin: 50px auto;
    background-color: #eeeeee;
    text-align: center;
}

/* LINKS */
a {
    color: #464f41;
    text-decoration: none;
}

.footer-link {
    margin: 25px;
}

/* BUTTON */

.btn:hover {
  background: #fc3c3c;
  text-decoration: none;
}

a:hover {
    background: #fc3c3c;
    text-decoration: none;
}

/* flip card */
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

/* navigation bar */
.navbar{
    padding: 0 6rem;
}

.navbar-brand {
    padding: 3%;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 4px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montaga', serif;

}


